@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItens.Count > 0)
{
    <li>
        <a asp-controller="CarrinhoCompra">
            <span class="glyphincon glyphincon-shopping-cart"></span>
            <span id="cart-status">
                @Model.CarrinhoCompra.CarrinhoCompraItens.Count
            </span>
        </a>
    </li>
}
